:root {
  --dark-brown: #413f3e;

  --primary: #5793ad;
  --primary-light: #70bcde;
  --primary-med-1: #7aa2b4;
  --light: #f9f6f0;
	--medium: #878481;
  --secondary: #b459d0;
  --secondary-light: #eeddeb;
  --bright-red: #fe4148;
}

body {
  color: var(--dark-brown);
  font-size: 1.05em;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.5em;
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

h3 {
	margin: 0;
}

.mt-3 {
	margin-top: 1.0em;
}

.mt-4 {
	margin-top: 1.5em;
}

.mt-5 {
	margin-top: 2.0em;
}

.mb-3 {
	margin-bottom: 1.0em;
}

.mb-4 {
	margin-bottom: 1.5em;
}

.mb-5 {
	margin-bottom: 2.0em;
}

.p-2 {
	padding: 20px;
}

.p-3 {
	padding: 1.0em;
}

.text-primary {
	color: var(--primary);
}

.text-secondary {
	color: var(--secondary);
}

.text-light {
	color: var(--light);
}

.text-medium {
	color: var(--medium);
}

.text-bold {
	font-weight: bold;
}

.bg-primary-med {
	background-color: var(--primary-light);
}

a {
  color: var(--dark-brown);
  font-weight: bold;
  text-decoration: none;
}

a:hover {
}

.secondary-links a {
	color: var(--secondary);
}

.secondary-links a:hover {
	border-bottom: dotted 2px;
	background-color: var(--secondary-light);
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul li {
	padding-bottom: 4px;
}

.main-container {
  background-color: var(--light);
}

.main-left {
  background-color: var(--primary);
}

.main-left ul {
	margin: 0;
	padding: 0;
}

.main-left ul li {
	margin: 0;
	padding: 0;
}

.main-right {
  padding: 15px;
  background-color: var(--light);
}

.project-link {
  font-size: 1.5em;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.widget-row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.row-50 {
	display: flex;
	flex-wrap: wrap;
	flex: 0 0 40%;
}

.col {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	flex: 0 0 100%;
}

.col-left {
}

.col-left a {
  color: var(--primary-dark);
}

.col-left a:hover {
  background-color: var(--primary-light);
  text-decoration: underline;
}

.col-right {
}

.logo {
}

@media (min-width: 992px) {
  .main-container {
    display: flex;
    min-height: 100vh;
  }

  .main-left {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 38%;
    max-width: 608px;
    justify-content: center;
  }

  .left-spacer {
    color: var(--primary-med-1);
    border-top: 2px solid;
    width: 60%;
  }

  .main-right {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 62%;
    max-width: 992px;
    justify-content: center;
  }

  .col-left {
    display: flex;
    justify-content: center;
    margin-top: 15vh;
  }

  .col-right {
		width: 100%;
		max-width: 600px;
    display: flex;
    flex-direction: column;
    margin-top: 15vh;
    margin-bottom: 15vh;
  }

  .col-right p {
    max-width: 550px;
	}

	.max-width-right {
		max-width: 550px;
	}

  .logo-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .logo-row {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
  }

  .logo {
    width: 125px;
    height: 125px;
  }

  .logo-text {
    font-size: 2.25em;
  }
}

@media (max-width: 991px) {
  .main-container {
    /*max-width: 580px;*/
    display: flex;
    flex-direction: column;
  }

  .col-left {
    width: 100%;
    box-sizing: border-box;
  }

  .col-right {
    width: 100%;
    box-sizing: border-box;
  }
}


